---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Amine System Simulation">
    <main>
        <h1>Amine System Simulation</h1>
        <p>This web app is coming online soon.</p>
    </main>
</Layout>
