---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="NRTL vapour–liquid equilibrium">
    <main>
        <h1>NRTL vapour–liquid equilibrium</h1>
        <p>This web app is coming online soon.</p>
    </main>
</Layout>
