---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Tank Simulation">
    <main>
        <h1>Tank Simulation</h1>
        <p>This web app is coming online soon.</p>
    </main>
</Layout>
