---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Tennessee Eastman Simulation">
    <main>
        <h1>Tennessee Eastman Simulation</h1>
        <p>This web app is coming online soon.</p>
    </main>
</Layout>
