---
---

<section class="comments">
	<h2>Comments</h2>
	<script
		src="https://giscus.app/client.js"
		data-repo="rwconsult8254/website"
		data-repo-id="R_kgDORLarfw"
		data-category="Blog Comments"
		data-category-id="DIC_kwDORLarf84C3eWa"
		data-mapping="pathname"
		data-strict="0"
		data-reactions-enabled="1"
		data-emit-metadata="0"
		data-input-position="top"
		data-theme="dark"
		data-lang="en"
		data-loading="lazy"
		crossorigin="anonymous"
		async
	></script>
</section>

<style>
	.comments {
		max-width: 720px;
		margin: 0 auto;
		padding: 0 1.25rem 3rem;
	}
	.comments h2 {
		font-size: 1.4rem;
		margin-bottom: 1.5rem;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		padding-top: 2rem;
	}
</style>
